---
import { Image } from "astro:assets"
import { getCollection, type CollectionEntry } from "astro:content"
import MainLayout from "@layouts/MainLayout.astro"
import AsideShare from "@components/aside/AsideShare.astro"
import Aside from "@components/aside/Aside.astro"
import AsideAuthor from "@components/aside/AsideAuthor.astro"
import { Icon } from "astro-icon/components"
import Seo from "@components/seo/Seo.astro"
import { SITE_TITLE } from "src/consts"

export async function getStaticPaths() {
	const entries = await getCollection("authors")
	return entries.map((entry) => ({
		params: { slug: entry.data.slug },
		props: { entry }
	}))
}

interface Props {
	entry: CollectionEntry<"authors">
}
const { entry } = Astro.props as Props
---

<MainLayout>
	{entry.data.seo && <Seo slot="head" seo={entry.data.seo} options={{ brand: SITE_TITLE }} />}
	{
		!entry.data.seo && (
			<Seo
				slot="head"
				seo={{ title: entry.data.name, description: entry.data.description }}
				options={{ brand: SITE_TITLE }}
			/>
		)
	}
	<div class="grid gap-12 md:grid-cols-[2fr,_1fr] lg:grid-cols-[3fr,_1fr]">
		<div class="flex gap-6">
			<div class="self-start">
				{
					entry.data.avatar_urls?.[96] && (
						<Image
							src={entry.data.avatar_urls?.[96]}
							alt={entry.data.name}
							height="96"
							width="96"
							loading="eager"
							class="!m-0 rounded-full"
						/>
					)
				}
			</div>
			<div class="">
				<div class="flex items-start gap-3">
					<h1 class="!mb-0">{entry.data.name}</h1>
					{
						entry.data.url && (
							<a href={entry.data.url}>
								<Icon class="aspect-square w-10" name="mdi:link-variant" />
							</a>
						)
					}
				</div>
				{entry.data.description && <p>{entry.data.description}</p>}
			</div>
		</div>
		<Aside>
			<AsideShare title={entry.data.name} />
			<AsideAuthor {entry} />
		</Aside>
	</div>
</MainLayout>
