---
import MainLayout from "@layouts/MainLayout.astro"
import { Image } from "astro:assets"

import assets_images_co_nas_wyroznia_z3a3149_2_jpg from "@assets/images/co-nas-wyroznia/z3a3149-2.jpg";
import assets_images_co_nas_wyroznia_karuzela_comes_jpg from "@assets/images/co-nas-wyroznia/karuzela-comes.jpg";
import assets_images_co_nas_wyroznia_img_3006_hdr_2_jpg from "@assets/images/co-nas-wyroznia/img_3006-hdr-2.jpg";
import assets_images_co_nas_wyroznia_gwarancja_jakosci_35_lat_jpg_2_jpg from "@assets/images/co-nas-wyroznia/gwarancja-jakosci-35-lat-jpg-2.jpg";
import assets_images_co_nas_wyroznia_img_2960_1_300x300_jpg from "@assets/images/co-nas-wyroznia/img_2960-1-300x300.jpg";
import assets_images_co_nas_wyroznia_img_2700_1_300x300_jpg from "@assets/images/co-nas-wyroznia/img_2700-1-300x300.jpg";
import assets_images_co_nas_wyroznia_img_2697_4_300x300_jpg from "@assets/images/co-nas-wyroznia/img_2697-4-300x300.jpg";
import assets_images_co_nas_wyroznia_img_2918_1_1_300x300_jpg from "@assets/images/co-nas-wyroznia/img_2918-1-1-300x300.jpg";
import assets_images_co_nas_wyroznia_hq_1882_300x300_jpg from "@assets/images/co-nas-wyroznia/hq-1882-300x300.jpg";
import assets_images_co_nas_wyroznia_internet_1650_1_1759_300x300_jpg from "@assets/images/co-nas-wyroznia/internet-1650-1-1759-300x300.jpg";
import assets_images_co_nas_wyroznia_img_2828_2_300x300_jpg from "@assets/images/co-nas-wyroznia/img_2828-2-300x300.jpg";
import assets_images_co_nas_wyroznia_hq_1746_300x300_jpg from "@assets/images/co-nas-wyroznia/hq-1746-300x300.jpg";
import assets_images_co_nas_wyroznia_img_2930_1_300x300_jpg from "@assets/images/co-nas-wyroznia/img_2930-1-300x300.jpg";
import assets_images_co_nas_wyroznia_img_2989_1_300x300_jpg from "@assets/images/co-nas-wyroznia/img_2989-1-300x300.jpg";
import assets_images_co_nas_wyroznia_img_3150_2_300x300_jpg from "@assets/images/co-nas-wyroznia/img_3150-2-300x300.jpg";
import assets_images_co_nas_wyroznia_comes_wyszkow_18_of_18_300x300_jpg from "@assets/images/co-nas-wyroznia/comes-wyszkow-18-of-18-300x300.jpg";

const wpId = 2699
const title = "Co Nas Wyróżnia"
const description = "Gwarantujemy jakość i bezpieczeństwo"
const status = "publish"
const type = "page"
const createdAt = new Date("2012-12-17T22:08:53")
const modifiedAt = new Date("2022-04-20T11:02:58")
const author = "comes_admin"
---

<MainLayout {title} {description}>
 
        <!-- About us page content -->
        <div id="" >
            <div >
                                <div >
                                            <Image loading="lazy" decoding="async" width="1600" height="1067" alt="Zestaw rekreacyjny; plac zabaw dla dzieci" sizes="(max-width: 1600px) 100vw, 1600px" src={assets_images_co_nas_wyroznia_z3a3149_2_jpg} widths={[1600, 220, 650, 480, 1080, 768, 1536, 230, 240]} />                                    </div>
                                <div >
                    <div >
                        <p><strong data-rich-text-format-boundary="true">Misją COMES</strong> jest tworzenie produktów, które inspirują do kreatywnego spędzania czasu na świeżym powietrzu, oraz przyczyniają się do rozwoju fizycznego i psychicznego użytkowników.</p>
                    </div>
                </div>
                            </div>
        </div>
        <!-- /About us page content -->
        

 
        <!-- About us page content -->
        <div id="" >
            <div >
                                <div >
                    <div >
                        <p ><strong data-rich-text-format-boundary="true">Bezpieczeństwo jest dla nas priorytetem.</strong> Poświęcamy bardzo dużo uwagi, aby nasze urządzenia zapewniały najwyższy poziom bezpieczeństwa. Zostało to docenione przez naszych klientów, którzy obdarzyli nas zaufaniem.</p>
                    </div>
                </div>
                                <div >
                                            <Image loading="lazy" decoding="async" width="1920" height="1280" alt="Urzędzenie do Street Workoutu. Producent Comes" sizes="(max-width: 1920px) 100vw, 1920px" src={assets_images_co_nas_wyroznia_karuzela_comes_jpg} widths={[1920, 220, 650, 480, 1080, 768, 1536, 230, 240]} />                                    </div>
                            </div>
        </div>
        <!-- /About us page content -->
        

 
        <!-- About us page content -->
        <div id="" >
            <div >
                                <div >
                                            <Image loading="lazy" decoding="async" width="1920" height="1225" alt="Plac zabaw Comes" sizes="(max-width: 1920px) 100vw, 1920px" src={assets_images_co_nas_wyroznia_img_3006_hdr_2_jpg} widths={[1920, 220, 650, 480, 1080, 768, 1605, 1536, 230, 240]} />                                    </div>
                                <div >
                    <div >
                        <p><strong data-rich-text-format-boundary="true">Certyfikacja</strong> jest procesem nieustannego podnoszenia jakości i bezpieczeństwa. Z uwagą śledzimy zmiany w polskich i europejskich normach bezpieczeństwa, i poddajemy nasze urządzenia badaniom. Zapewniamy, że nasze produkty są trwałe, bezpieczne, i wytrzymają wiele lat użytkowania. Urządzenia COMES certyfikujemy w jednostce z akredytacją PCA.</p>
                    </div>
                </div>
                            </div>
        </div>
        <!-- /About us page content -->
        


<hr />







<h3 >Gwarantujemy jakość i bezpieczeństwo</h3>



<div ><figure ><Image loading="lazy" decoding="async" width="798" height="180" alt="35 lat na rynku comes" sizes="(max-width: 798px) 100vw, 798px" src={assets_images_co_nas_wyroznia_gwarancja_jakosci_35_lat_jpg_2_jpg} widths={[798, 220, 650, 480, 768, 230, 240]} /></figure></div>



<div ><div   data-in="fadeIn" data-reset="false" data-emergence="hidden">
<div >





</div>



<hr />



<div >
<div >
<div >
<div >
<figure ><Image decoding="async" alt="TODO: update alt text" src={assets_images_co_nas_wyroznia_img_2960_1_300x300_jpg} /></figure>
</div>



<div >
<p ><br>Korzystamy z <strong>najwyższej jakości materiałów</strong>, które są bezpieczne dla dzieci, oraz odporne na działanie warunków atmosferycznych.</p>
</div>
</div>
</div>



<div >
<div >
<div >
<figure ><Image decoding="async" alt="TODO: update alt text" src={assets_images_co_nas_wyroznia_img_2700_1_300x300_jpg} /></figure>
</div>



<div >
<figure ><Image decoding="async" alt="TODO: update alt text" src={assets_images_co_nas_wyroznia_img_2697_4_300x300_jpg} /></figure>
</div>
</div>
</div>
</div>



<div >
<div >
<div >
<div >
<figure ><Image decoding="async" alt="TODO: update alt text" src={assets_images_co_nas_wyroznia_img_2918_1_1_300x300_jpg} /></figure>
</div>



<div >
<figure ><Image decoding="async" alt="TODO: update alt text" src={assets_images_co_nas_wyroznia_hq_1882_300x300_jpg} /></figure>
</div>
</div>
</div>



<div >
<div >
<div >
<p ><br><br><strong>Stosujemy tylko sprawdzone rozwiązania</strong>, co do których mamy pewność, że będą trwałe i bezpieczne.</p>
</div>



<div >
<figure ><Image decoding="async" alt="TODO: update alt text" src={assets_images_co_nas_wyroznia_internet_1650_1_1759_300x300_jpg} /></figure>




</div>
</div>
</div>
</div>



<div >
<div >
<div >
<div >
<figure ><Image decoding="async" alt="TODO: update alt text" src={assets_images_co_nas_wyroznia_img_2828_2_300x300_jpg} /></figure>
</div>



<div >
<p ><br><br><strong>Dbamy o detale</strong>, bo wiemy, że z nich składa się całość, która cieszy oko, oraz dobrze z sobą współgra.</p>
</div>
</div>
</div>



<div >
<div >
<div >
<figure ><Image decoding="async" alt="TODO: update alt text" src={assets_images_co_nas_wyroznia_hq_1746_300x300_jpg} /></figure>
</div>



<div >
<figure ><Image decoding="async" alt="TODO: update alt text" src={assets_images_co_nas_wyroznia_img_2930_1_300x300_jpg} /></figure>
</div>
</div>
</div>
</div>



<div >
<div >
<div >
<div >
<figure ><Image decoding="async" alt="TODO: update alt text" src={assets_images_co_nas_wyroznia_img_2989_1_300x300_jpg} /></figure>
</div>



<div >
<figure ><Image decoding="async" alt="TODO: update alt text" src={assets_images_co_nas_wyroznia_img_3150_2_300x300_jpg} /></figure>
</div>
</div>
</div>



<div >
<div >
<div >
<p ><br><strong>Cieszymy się z każdego nowego terenu rekreacyjnego</strong>, bo wiemy jak ważne są te miejsca dla lokalnych społeczności.</p>
</div>



<div >
<figure ><Image decoding="async" alt="TODO: update alt text" src={assets_images_co_nas_wyroznia_comes_wyszkow_18_of_18_300x300_jpg} /></figure>
</div>
</div>
</div>
</div>




</div></div>



<div ></div>





</MainLayout>