---
import MainLayout from "@layouts/MainLayout.astro"
import { Image } from "astro:assets"

import assets_images_firma_comes_wyszkow_18_of_18_jpg from "@assets/images/firma/comes-wyszkow-18-of-18.jpg";
import assets_images_firma_000_1_of_1_jpg from "@assets/images/firma/000-1-of-1.jpg";
import assets_images_firma_karuzela_comes_jpg from "@assets/images/firma/karuzela-comes.jpg";

const wpId = 2665
const title = "O Nas"
const description = "TODO: Add description"
const status = "publish"
const type = "page"
const createdAt = new Date("2012-09-07T07:35:43")
const modifiedAt = new Date("2022-09-25T17:31:25")
const author = "comes_admin"
---

<MainLayout {title} {description}>

<hr />



<div ><div   data-in="none" data-reset="false" data-emergence="hidden"> 
        <!-- About us page content -->
        <div id="" >
            <div >
                                <div >
                                            <Image loading="lazy" decoding="async" width="1920" height="1280" alt="Comes, bezpieczny plac zabaw" sizes="(max-width: 1920px) 100vw, 1920px" src={assets_images_firma_comes_wyszkow_18_of_18_jpg} widths={[1920, 220, 650, 480, 1080, 768, 1536, 230, 240]} />                                    </div>
                                <div >
                    <div >
                        <h3 >Solidny producent</h3>
<p >Specjalnością firmy Comes są wysokiej klasy urządzenia na place zabaw i siłownie plenerowe. Dbamy o to, by nie tylko zapewniały ich użytkownikom wyśmienitą zabawę, ale także najwyższy poziom bezpieczeństwa. Bardzo ważna jest dla nas satysfakcja klientów, a także radość dzieci, dla których przeznaczone są place zabaw.  Firma Comes to gwarancja rzetelności i profesjonalizmu.</p>
<p ><small>Prezes Marek Sokołowski</small><br />
<small>Wiceprezes Piotr Sokołowski</small></p>

<p><a  href="/co-nas-wyroznia/">Dlaczego COMES?</a></p>
                    </div>
                </div>
                            </div>
        </div>
        <!-- /About us page content -->
        

 
        <!-- About us page content -->
        <div id="" >
            <div >
                                <div >
                    <div >
                        <h3>Co Nas wyróżnia? Najwyższa Jakość Produktów</h3>
<p >Jako doświadczony producent placów zabaw i siłowni plenerowych, oferujemy produkty wysokiej jakości, które są trwałe i bezpieczne. Nasze urządzenia można oglądać na terenie całego kraju oraz poza jego granicami. Zaufało nam wiele spółdzielni mieszkaniowych, gmin i powiatów. Zapewniamy kompleksową usługę, która obejmuje zarówno projekt, doradztwo, montaż, oraz serwis jak i kontrole. Zapraszamy do współpracy.</p>

<p><a  href="/zaufali-nam/">poznaj nasze referencje</a></p>
                    </div>
                </div>
                                <div >
                                            <Image loading="lazy" decoding="async" width="1920" height="1280" alt="Comes plac zabaw" sizes="(max-width: 1920px) 100vw, 1920px" src={assets_images_firma_000_1_of_1_jpg} widths={[1920, 220, 650, 480, 1080, 768, 1536, 230, 240]} />                                    </div>
                            </div>
        </div>
        <!-- /About us page content -->
        

 
        <!-- About us page content -->
        <div id="" >
            <div >
                                <div >
                                            <Image loading="lazy" decoding="async" width="1920" height="1280" alt="Urzędzenie do Street Workoutu. Producent Comes" sizes="(max-width: 1920px) 100vw, 1920px" src={assets_images_firma_karuzela_comes_jpg} widths={[1920, 220, 650, 480, 1080, 768, 1536, 230, 240]} />                                    </div>
                                <div >
                    <div >
                        <h3>Historia firmy to ponad 35 lat tradycji</h3>
<p >Kolorowe urządzenia na place zabaw COMES stoją w tysiącach miejsc w całej Polsce. Oferowane przez nas produkty stanowią wyposażenie placów zabaw, siłowni plenerowych i terenów rekreacyjnych. Chętnie korzystają z nich także placówki edukacyjne, zarówno przedszkola jak i szkoły średnie. Comes produkuje urządzenia dla różnych grup, zarówno maluchów, jak i młodzieży, osób dorosłych, seniorów i niepełnosprawnych.</p>

<p><a  href="/pg/">Sprawdź nasza ofertę</a></p>
                    </div>
                </div>
                            </div>
        </div>
        <!-- /About us page content -->
        


<hr />








</div></div>



<div ><div   data-in="none" data-reset="false" data-emergence="hidden">






<p ><a  href="/aktualnosci">wSZYSTKIE AKTUALNOŚCI i porady</a></p>
</div></div>





</MainLayout>