---
import MainLayout from "@layouts/MainLayout.astro"
import { Image } from "astro:assets"

import assets_images_place_zabaw_cennik_z3a3149_2_1536x1024_jpg from "@assets/images/place-zabaw-cennik/z3a3149-2-1536x1024.jpg";
import assets_images_place_zabaw_cennik_1_1_1536x1024_jpg from "@assets/images/place-zabaw-cennik/1-1-1536x1024.jpg";
import assets_images_place_zabaw_cennik_05_37_00_trzmiel_1_1_e1672426855703_230x178_png from "@assets/images/place-zabaw-cennik/05.37.00-trzmiel-1-1-e1672426855703-230x178.png";
import assets_images_place_zabaw_cennik_12_16_00_1_3_3_230x199_png from "@assets/images/place-zabaw-cennik/12.16.00-1-3-3-230x199.png";
import assets_images_place_zabaw_cennik_06_51_203_000_1_230x182_png from "@assets/images/place-zabaw-cennik/06.51.203.000-1-230x182.png";
import assets_images_place_zabaw_cennik_jolka_2_ab1_widok_2_e1672405274942_230x188_png from "@assets/images/place-zabaw-cennik/jolka-2-ab1-widok-2-e1672405274942-230x188.png";
import assets_images_place_zabaw_cennik_11_85_00_kolejka_linowa_e1672399157225_230x130_png from "@assets/images/place-zabaw-cennik/11.85.00-kolejka-linowa-e1672399157225-230x130.png";

const wpId = 3191
const title = "Place zabaw cennik"
const description = "Plac zabaw — jakie są koszty poszczególnych urządzeń? Ile kosztują zestawy na plac zabaw? Jaki jest koszt nawierzchni? Co wpływa na cenę placu zabaw? Na te i inne pytania odpowiadamy poniżej. Materiały proces produkcji i certyfikaty, a cena Nie jest odkryciem, że jakość i bezpieczeństwo placów zabaw kosztują. Starając się zaoszczędzić, można nieświadomie trafić na urządzenia niespełniające norm ..."
const status = "publish"
const type = "page"
const createdAt = new Date("2015-03-13T11:54:05")
const modifiedAt = new Date("2024-03-21T13:14:17")
const author = "comes_admin"
const featuredMedia = {"id":7586,"src":"@assets/images/place-zabaw-cennik/comes-wyszkow-zmniejszone-1-of-17.jpg","alt":"Zestaw rekreacyjny trzywieżowy Comes.","caption":""}
---

<MainLayout {title} {description}>

<p>Plac zabaw — jakie są koszty poszczególnych urządzeń? Ile kosztują zestawy na plac zabaw? Jaki jest koszt nawierzchni? Co wpływa na cenę placu zabaw? Na te i inne pytania odpowiadamy poniżej.</p>



<figure ><Image loading="lazy" decoding="async" width="1536" height="1024" alt="Zestaw rekreacyjny; plac zabaw dla dzieci" sizes="(max-width: 1536px) 100vw, 1536px" src={assets_images_place_zabaw_cennik_z3a3149_2_1536x1024_jpg} widths={[1536, 220, 650, 480, 1080, 768, 230, 240, 1600]} /></figure>



<h3  id="h-materialy-proces-produkcji-i-certyfikaty-a-cena">Materiały proces produkcji i certyfikaty, a cena</h3>



<p>Nie jest odkryciem, że jakość i bezpieczeństwo placów zabaw kosztują. Starając się zaoszczędzić, można nieświadomie trafić na urządzenia niespełniające norm bezpieczeństwa oraz wyprodukowanych w sposób niegwarantujący trwałości. Dlatego tak ważne jest, aby upewnić się, że producent naszego placu zabaw jest rzetelną firmą posiadającą <strong>certyfikaty wystawione przez akredytowaną jednostkę.</strong> Równie istotne jest znać proces produkcyjny i mieć pewność, że firma, którą wybieramy ma doświadczenie i referencje. Nie warto ryzykować, że wadliwe urządzenia nie mogły być zareklamowane, ponieważ kontakt z producentem urywał się w momencie oddania placu zabaw.</p>



<p>Tylko wybór dobrego producenta placów zabaw zagwarantuje, że pieniądze się nie zmarnują na zabawki, które po krótkim czasie przestaną być funkcjonalne. Dodatkowo budowa placu zabaw to duża odpowiedzialność, ponieważ korzystają z niego dzieci, które nie zdają sobie sprawy z tego, że niektóre urządzenia mogą nie spełniać norm i stanowić dla nich zagrożenie. To <strong>dlatego tak ważne jest, aby mieć pewność, że kupowane urządzenia posiadają ważne certyfikaty i faktycznie spełniają normy bezpieczeństwa</strong>.</p>



<p>Aby dowiedzieć się o procesie produkcji, materiałach i jakości naszych urządzeń, zapraszamy &lt;a href=’<a href="/jakosc/%E2%80%99">https://comes.pl/jakosc/’</a> target=’_blank’>tutaj&lt;/a>.</p>





<h3 >Ceny urządzeń COMES</h3>



<p>Urządzenia prezentowane w naszej ofercie zostały zróżnicowane zarówno pod względem rozmiarów, jak i również rodzaju atrakcji, jakie oferują dzieciom w różnym wieku.</p>



<p>Na cenę wpływają zastosowane technologii produkcji, złożoność i wielkość urządzeń, materiał, z którego są wykonane i pracochłonność wykonania. W swojej pracy dbamy o to, aby place zabaw dla dzieci spełniały swoje zadanie przez wiele lat. Nasze urządzenia charakteryzują się nowoczesnym designem, szeroką gamą kolorów, wysoką jakością, wieloletnią odpornością na warunki atmosferyczne i gwarancją bezpieczeństwa. <strong>Wszystkie nasze urządzenia spełniają polskie i europejskie normy bezpieczeństwa PN-EN 1176.</strong></p>



<h3 >Ceny pojedynczych urządzeń</h3>



<p>Nasze pojedyncze urządzenia kosztują od kilku do kilkunasty tysięcy złotych. Na przykład<strong> najtańsza karuzela to koszt ok. 3 000 zł</strong>, a najdroższa ok. 10 000 zł. <strong>Huśtawki kosztują od 2 000 do 13 000 zł</strong>, a <strong>piaskownice od 2 500 do 9 000 zł</strong>. Są to ceny netto, bez montażu i transportu. Nie udostępniamy pełnego cennika klientom, ponieważ ostateczne ceny zależą od aktualnych kosztów materiałów, rodzaju i miejsca realizacji oraz indywidualnych personalizacji. Mimo to, aby dowiedzieć się więcej, zapraszamy do dalszej lektury.</p>



<p>Dodatkowym kosztem jest transport oraz montaż urządzeń. Nie są to usługi obowiązkowe – obie może zrealizować na własny koszt klient. <strong>Dostarczamy instrukcje montażu.</strong></p>



<h3 >Cena placów zabaw</h3>



<p>Oferowane przez nas zestawy rekreacyjne kosztują od kilkunastu do kilkudziesięciu tysięcy złotych. Z kolei koszt wykonania całego placu zabaw może wynosić <strong>od kilkunastu nawet do kilkuset tysięcy złotych.</strong> Ceny rozbudowanych placów zabaw z wieloma urządzeniami, specjalną nawierzchnią bezpieczną oraz wykonaniem wszystkich prac ziemnych i montażu mogą sięgać nawet miliona złotych. Są to jednak unikalne, duże i prestiżowe przestrzenie przeznaczone dla dużych ośrodków.</p>



<figure ><Image loading="lazy" decoding="async" width="1536" height="1024" alt="TODO: update alt text" sizes="(max-width: 1536px) 100vw, 1536px" src={assets_images_place_zabaw_cennik_1_1_1536x1024_jpg} widths={[1536, 220, 650, 480, 1080, 768, 230, 240, 1800]} /></figure>



<p>Skąd tak duża rozbieżność cen? Wszystko zależy od tego, co chcemy, aby znalazło się na placu zabaw i jaką powierzchnię ma zajmować. Duże, wielowieżowe zestawy z atrakcjami mogą kosztować nawet kilkadziesiąt tysięcy złotych. Ale są też prostsze, mniejsze zestawy przeznaczone dla mniejszej ilości dzieci. Ich koszt oscyluje w okolicach 10-20 tysięcy złotych. Cena zależy między innymi od użytych przejść między wieżami, rodzaju daszków oraz elementów dodatkowych. Posiadamy bardzo dużo produktów o zróżnicowanych cenach. Dzięki temu jesteśmy w stanie dopasować je do indywidualnego projektu i budżetu. W przypadku dysponowania określonych budżetem, zachęcamy do podania tej informacji podczas składania zapytania – nasze Biuro Obsługi Klienta może przedstawić Państwu wybrane urządzenia lub zestawy w określonych cenach. Ważnym czynnikiem wpływającym na cenę jest też technologia. Comes produkuje urządzenia o&nbsp;<strong>konstrukcji stalowej malowanej proszkowo</strong>. Zapewnia to o wiele dłuższą żywotność zabawek w porównaniu do urządzeń o konstrukcji drewnianej.</p>



<h3 >Nawierzchnie na plac zabaw — zakres cen</h3>



<p>Koniecznym elementem niemal każdego placu zabaw jest nawierzchnia bezpieczna. Praktycznie wszystkie urządzenia zabawowe posiadają&nbsp;współczynnik WSU (wysokość swobodnego upadku – najwyższy punkt, z którego dziecko może spaść bezpośrednio na ziemię). Maksymalne dopuszczalne WSU to 3 metry. Nie tylko trzymetrowy upadek musi zostać zamortyzowany przez nawierzchnię.</p>



<p>Różne nawierzchnie mają inne stopnie amortyzacji i od tego zależy, do jakich urządzeń się&nbsp;nadają. Przykładowo trawa – czyli najtańsza nawierzchnia na plac zabaw – bezpiecznie amortyzuje upadki z wysokości nie większej, niż 1 metr. Zatem jeśli decydują&nbsp;się Państwo na urządzenia zabawowe o większym WSU, należy wybrać inną, droższą nawierzchnię.</p>



<p>Kolejnym popularny, rodzajem nawierzchni na placu zabaw jest piasek. Koszt jest nieco wyższy od trawnika, ale przy zastosowaniu odpowiednio grubej warstwy piasku nadaje się nawet pod urządzenia o maksymalnym WSU (3 metry).</p>



<p>Nieco droższym rozwiązaniem jest nawierzchnia wykonana ze żwiru frakcji 2-8 mm. Wyższa cena wynika z różnicy między materiałem z którego jest wykonana tj. piasek i żwir.</p>



<p><strong>Najdroższym rozwiązaniem, w przypadku nawierzchni placu zabaw, są nawierzchnie syntetyczne, a mianowicie nawierzchnia gumowa EPDM lub SBR, sztuczna trawa lub maty przerostowe.</strong>&nbsp;Koszt wykonania takich nawierzchni znacznie przewyższa wcześniej wymienione ze względu na złożoną konstrukcję (podbudowa +&nbsp;warstwa wierzchnia) oraz ceny materiałów.</p>



<p>Warto dodać, że ostatnio popularne są wspomniane maty przerostowe. To połączenie nawierzchni syntetycznej i naturalnej. Maty są wykonane z gumy i mają duże oczka, przez które może przerastać trawa. Niezbędna jest tutaj warstwa geowłókniny, która oddziela grunt od mat. W przeciwnym razie mata z czasem wbije się w ziemię i straci właściwości amortyzujące.</p>





<p>Aby dowiedzieć się&nbsp;więcej o nawierzchniach bezpiecznych, zapraszamy &lt;a href=’<a href="/nawierzchnie-bezpieczne/?PageSpeed=off"></a><a href="/nawierzchnie-bezpieczne">https://comes.pl/nawierzchnie-bezpieczne</a>/’ target=’_blank’&gt;tutaj&lt;/a&gt;.</p>



<h3 >Elementy dodatkowe wpływają na koszt projektu</h3>



<p>Dodatkowe elementy, stosowane na placu zabaw, które wzbogacą zagospodarowanie przestrzeni to ścieżki komunikacyjne,&nbsp;zieleń, ławki, stoliki, kosze, oświetlenie itp. Są to elementy urozmaicające plac zabaw, ale również&nbsp;****zwiększające koszt wykonania.</p>



<h3 >Firma COMES</h3>



<p>Firma COMES to renomowany producent placów zabaw, siłowni plenerowych, street workout, wybiegów dla psów oraz innych urządzeń rekreacyjnych i komunalnych. Historia firmy sięga 1984 roku. Nasze urządzenia są chętnie wybierane zarówno przez szkoły, powiaty, gminy, firmy, jak i osoby prywatne. Nasza oferta nie jest najtańszą dostępną&nbsp;opcją, ponieważ priorytetami dla nas są jakość, trwałość i bezpieczeństwo. Decydując się na nasze urządzenia, otrzymują Państwo solidny, polski produkt, który spełnia normy bezpieczeństwa i posłuży przez lata.</p>



<p>Stalowe konstrukcje naszych urządzeń są zabezpieczane antykorozyjnie poprzez piaskowane, fosforanowanie żelazowe, nałożenie podkładu cynkowego, a następnie malowanie proszkowe. Badania w komorze solnej wykazały, że nasza stal zabezpieczona antykorozyjnie spełnia normy DIN EN ISO 12944 dla klasy C4H. Oznacza to ochronę antykorozyjną na poziomie 15-25 lat nawet w trudnych dla stali środowiskach.</p>



<p>W COMES nie oszczędzamy również na materiałach – używamy tylko tych najwyższej jakości, które gwarantują&nbsp;trwałość i estetykę. Używamy&nbsp;<a href="http://m.in/">m.in</a>. wysokiej jakości płyt HDPE, HPL, stali nierdzewnej, lin polipropylenowych ze stalowym rdzeniem, nierdzewnych śrub i nierdzewnych łańcuchów.</p>



<p>Wszystkie nasze urządzenia na place zabaw certyfikujemy w sprawdzonej, renomowanej jednostce –&nbsp;<a href="https://instytut-nadzoru.pl/o-nas">Instytucie Nadzoru Technicznego</a>&nbsp;z Wrocławia, która posiada&nbsp;<a href="https://instytut-nadzoru.pl/article_bw/81/kilka-slow-o-akredytacji">akredytację Polskiego Centrum Akredytacji</a>. Certyfikaty na zgodność z normami PN-EN 1176 (place zabaw),&nbsp;<strong>są wystawiane z akredytacją&nbsp;<a href="https://www.pca.gov.pl/">PCA</a>&nbsp;– jest to najlepszy certyfikat jaki można otrzymać</strong>. Daje to gwarancję, że nasze urządzenia spełniają wszystkie przepisy normy.&nbsp;<strong>Nie tylko na papierze, ale także w prawdziwym użytkowaniu.</strong></p>



<h3 >Zapoznaj się z naszą ofertą</h3>



<p>Zapraszamy do zapoznania się z naszą ofertą! W zakładce Produkty znajdą Państwo wszystkie oferowane przez nas urządzenia, nie tylko na place zabaw! Aby uzyskać informację o cenach, polecamy skorzystać z wygodnego systemu składania zapytań. Wystarczy dodać wybrane produkty do zapytania klikając przycisk “Dodaj do zapytania”, a następnie wypełnić formularz kontaktowy.</p>


      <div id='blok-polecane-produkty-' class='woocommerce c-grid-parent comes-polecane-produkty comes-blok-z-zakladkami'>
          <div >
                            <div >
                  <h2 class='serif'>Polecane urządzenia na place zabaw</h2>
              </div>
              
                          
              <div class='comes-nawigacja-zakladki no-scrollbar flex center c-grid-fill-columns'>
                                

                        </div>
      
                          <div class='produkty-polecane-tresc c-grid-wrap-no-margin c-grid-fill-columns'>
                            <section 
                ><div >
                  <div id="p-66bfc9d02e268" >
    <div >
        
      	<div id="img66bfc9d02e268" >
            <a href='https://comes.pl/p/karuzela-trzmiel/'>
				<Image loading="lazy" decoding="async" width="230" height="178" alt="Karuzela talerzowa Trzmiel. Klasyk na plac zabaw od producenta Comes." sizes="(max-width: 230px) 100vw, 230px" src={assets_images_place_zabaw_cennik_05_37_00_trzmiel_1_1_e1672426855703_230x178_png} widths={[230, 220, 650, 415, 933, 768, 1327, 1536, 207, 1849]} />			</a>
            <script>
                jQuery(document).ready(function($) {
                    // ustaw rozmiar zdjęcia
                    $kafelekZdjecieKontener = $('#img' + '66bfc9d02e268');
                    $kafelekZdjecieLink = $kafelekZdjecieKontener.find('a');
                    var rozmiar = $kafelekZdjecieKontener.width();
                    $kafelekZdjecieKontener.css( 'height', rozmiar );
                    $kafelekZdjecieLink.css( 'height', rozmiar );
                    $kafelekZdjecieLink.css( 'width', rozmiar );
                } );

            </script>
      	</div>	
	  	<div class='c-napisy'>
			<a id="tit66bfc9d02e268"  href='https://comes.pl/p/karuzela-trzmiel/'>
				<h3>
					Karuzela Trzmiel				</h3>
			</a>
            			<span >Nr kat.:				05.37.00            </span>
		</div>
	</div>
    
    
<div
	 >
		<div    data-product_id="1253">
		
<a href="#"  data-product_id="1253" data-wp_nonce="cbf605dc90" >
				Dodaj do zapytania	</a>
	</div>
	
	<div
		
		data-product_id="1253"
		>Dodano do zapytania</div>
	<div
		
		
		data-product_id="1253"><a
			href="/zapytaj-o-produkty/">Zobacz zapytanie</a></div>

</div>


</div><!-- #post-## -->
<div id="p-66bfc9d02f35a" >
    <div >
        
      	<div id="img66bfc9d02f35a" >
            <a href='https://comes.pl/p/linarium-piramida/'>
				<Image loading="lazy" decoding="async" width="230" height="199" alt="TODO: update alt text" sizes="(max-width: 230px) 100vw, 230px" src={assets_images_place_zabaw_cennik_12_16_00_1_3_3_230x199_png} widths={[230, 220, 650, 833, 1185, 370, 768, 1536, 185, 1655]} />			</a>
            <script>
                jQuery(document).ready(function($) {
                    // ustaw rozmiar zdjęcia
                    $kafelekZdjecieKontener = $('#img' + '66bfc9d02f35a');
                    $kafelekZdjecieLink = $kafelekZdjecieKontener.find('a');
                    var rozmiar = $kafelekZdjecieKontener.width();
                    $kafelekZdjecieKontener.css( 'height', rozmiar );
                    $kafelekZdjecieLink.css( 'height', rozmiar );
                    $kafelekZdjecieLink.css( 'width', rozmiar );
                } );

            </script>
      	</div>	
	  	<div class='c-napisy'>
			<a id="tit66bfc9d02f35a"  href='https://comes.pl/p/linarium-piramida/'>
				<h3>
					Piramida				</h3>
			</a>
            			<span >Nr kat.:				12.16.00            </span>
		</div>
	</div>
    
    
<div
	 >
		<div    data-product_id="1331">
		
<a href="#"  data-product_id="1331" data-wp_nonce="0c06601f9a" >
				Dodaj do zapytania	</a>
	</div>
	
	<div
		
		data-product_id="1331"
		>Dodano do zapytania</div>
	<div
		
		
		data-product_id="1331"><a
			href="/zapytaj-o-produkty/">Zobacz zapytanie</a></div>

</div>


</div><!-- #post-## -->
<div id="p-66bfc9d030305" >
    <div >
        
      	<div id="img66bfc9d030305" >
            <a href='https://comes.pl/p/zestaw-06-51-203/'>
				<Image loading="lazy" decoding="async" width="230" height="182" alt="Zestaw rekreacyjny 06.51.203 na plac zabaw" sizes="(max-width: 230px) 100vw, 230px" src={assets_images_place_zabaw_cennik_06_51_203_000_1_230x182_png} widths={[230, 220, 650, 404, 909, 768, 1293, 1536, 202, 1920]} />			</a>
            <script>
                jQuery(document).ready(function($) {
                    // ustaw rozmiar zdjęcia
                    $kafelekZdjecieKontener = $('#img' + '66bfc9d030305');
                    $kafelekZdjecieLink = $kafelekZdjecieKontener.find('a');
                    var rozmiar = $kafelekZdjecieKontener.width();
                    $kafelekZdjecieKontener.css( 'height', rozmiar );
                    $kafelekZdjecieLink.css( 'height', rozmiar );
                    $kafelekZdjecieLink.css( 'width', rozmiar );
                } );

            </script>
      	</div>	
	  	<div class='c-napisy'>
			<a id="tit66bfc9d030305"  href='https://comes.pl/p/zestaw-06-51-203/'>
				<h3>
					Zestaw 06.51.203				</h3>
			</a>
            			<span >Nr kat.:				06.51.203            </span>
		</div>
	</div>
    
    
<div
	 >
		<div    data-product_id="21530">
		
<a href="#"  data-product_id="21530" data-wp_nonce="cd2c145cef" >
				Dodaj do zapytania	</a>
	</div>
	
	<div
		
		data-product_id="21530"
		>Dodano do zapytania</div>
	<div
		
		
		data-product_id="21530"><a
			href="/zapytaj-o-produkty/">Zobacz zapytanie</a></div>

</div>


</div><!-- #post-## -->
<div id="p-66bfc9d03106a" >
    <div >
        
      	<div id="img66bfc9d03106a" >
            <a href='https://comes.pl/p/hustawka-jolka-2-ab1/'>
				<Image loading="lazy" decoding="async" width="230" height="188" alt="Huśtawka z fotelikiem" sizes="(max-width: 230px) 100vw, 230px" src={assets_images_place_zabaw_cennik_jolka_2_ab1_widok_2_e1672405274942_230x188_png} widths={[230, 220, 650, 391, 881, 768, 1253, 1536, 196, 1966]} />			</a>
            <script>
                jQuery(document).ready(function($) {
                    // ustaw rozmiar zdjęcia
                    $kafelekZdjecieKontener = $('#img' + '66bfc9d03106a');
                    $kafelekZdjecieLink = $kafelekZdjecieKontener.find('a');
                    var rozmiar = $kafelekZdjecieKontener.width();
                    $kafelekZdjecieKontener.css( 'height', rozmiar );
                    $kafelekZdjecieLink.css( 'height', rozmiar );
                    $kafelekZdjecieLink.css( 'width', rozmiar );
                } );

            </script>
      	</div>	
	  	<div class='c-napisy'>
			<a id="tit66bfc9d03106a"  href='https://comes.pl/p/hustawka-jolka-2-ab1/'>
				<h3>
					Huśtawka JOLKA 2 AB1				</h3>
			</a>
            			<span >Nr kat.:				01.09.01 AB1            </span>
		</div>
	</div>
    
    
<div
	 >
		<div    data-product_id="14309">
		
<a href="#"  data-product_id="14309" data-wp_nonce="5a516b626e" >
				Dodaj do zapytania	</a>
	</div>
	
	<div
		
		data-product_id="14309"
		>Dodano do zapytania</div>
	<div
		
		
		data-product_id="14309"><a
			href="/zapytaj-o-produkty/">Zobacz zapytanie</a></div>

</div>


</div><!-- #post-## -->
<div id="p-66bfc9d031db4" >
    <div >
        
      	<div id="img66bfc9d031db4" >
            <a href='https://comes.pl/p/kolejka-linowa/'>
				<Image loading="lazy" decoding="async" width="230" height="130" alt="11.85.00 - Kolejka linowa" sizes="(max-width: 230px) 100vw, 230px" src={assets_images_place_zabaw_cennik_11_85_00_kolejka_linowa_e1672399157225_230x130_png} widths={[230, 220, 650, 480, 1080, 768, 1810, 1536, 1040, 240, 1900]} />			</a>
            <script>
                jQuery(document).ready(function($) {
                    // ustaw rozmiar zdjęcia
                    $kafelekZdjecieKontener = $('#img' + '66bfc9d031db4');
                    $kafelekZdjecieLink = $kafelekZdjecieKontener.find('a');
                    var rozmiar = $kafelekZdjecieKontener.width();
                    $kafelekZdjecieKontener.css( 'height', rozmiar );
                    $kafelekZdjecieLink.css( 'height', rozmiar );
                    $kafelekZdjecieLink.css( 'width', rozmiar );
                } );

            </script>
      	</div>	
	  	<div class='c-napisy'>
			<a id="tit66bfc9d031db4"  href='https://comes.pl/p/kolejka-linowa/'>
				<h3>
					Kolejka Linowa				</h3>
			</a>
            			<span >Nr kat.:				11.85.00            </span>
		</div>
	</div>
    
    
<div
	 >
		<div    data-product_id="1449">
		
<a href="#"  data-product_id="1449" data-wp_nonce="c873e82283" >
				Dodaj do zapytania	</a>
	</div>
	
	<div
		
		data-product_id="1449"
		>Dodano do zapytania</div>
	<div
		
		
		data-product_id="1449"><a
			href="/zapytaj-o-produkty/">Zobacz zapytanie</a></div>

</div>


</div><!-- #post-## -->
                    </div>
                	<div class='comes-przycisk-container center c-grid-fill-columns'>
                      <a  target='_blank' style='margin: auto; max-width: 240px' href="/produkty">Zobacz pełną ofertę</a>
                    </div>
                </section>
              </div>
        </div>
      </div>
        
</MainLayout>