---
import MainLayout from "@layouts/MainLayout.astro"
import { Image } from "astro:assets"

import assets_images_projekt_placu_zabaw_comes_wyszkow_zmniejszone_1_of_17_jpg from "@assets/images/projekt-placu-zabaw/comes-wyszkow-zmniejszone-1-of-17.jpg";
import assets_images_projekt_placu_zabaw_hq_1581_jpg from "@assets/images/projekt-placu-zabaw/hq-1581.jpg";
import assets_images_projekt_placu_zabaw_place_zabaw_dla_dzieci_konskie_jpg from "@assets/images/projekt-placu-zabaw/place-zabaw-dla-dzieci-konskie.jpg";
import assets_images_projekt_placu_zabaw_montaz_placu_zabaw_szczecin_jpg from "@assets/images/projekt-placu-zabaw/montaz-placu-zabaw-szczecin.jpg";
import assets_images_projekt_placu_zabaw_img_3263_2_jpg from "@assets/images/projekt-placu-zabaw/img_3263-2.jpg";

const wpId = 3172
const title = "Projekt placu zabaw"
const description = "TODO: Add description"
const status = "publish"
const type = "page"
const createdAt = new Date("2015-02-02T14:59:51")
const modifiedAt = new Date("2022-08-30T14:14:17")
const author = "comes_admin"
---

<MainLayout {title} {description}>
        <div id="Projekt placu zabaw"  >
            <div >
                <div >
                    <div >
                        <h3 >Zacznij od projektu&#8230;</h3>
<p><big>Comes oferuje wsparcie w wielu obszarach. Jednym z nich są <strong>projekty placów zabaw, siłowni plenerowych, stref street workout, oraz wybiegów dla psów</strong>. Zachęcamy do zapoznania się z nasza ofertą.</big></p>
                    </div>
                </div>
            </div>
        </div>
        

        <!-- obrazek z tekstem po lewej na home -->
        <div  >
            <div >
                <div >
                                            <Image loading="lazy" decoding="async" width="1920" height="1280" alt="Comes - Plac zabaw w Wyszkowie" sizes="(max-width: 1920px) 100vw, 1920px" src={assets_images_projekt_placu_zabaw_comes_wyszkow_zmniejszone_1_of_17_jpg} widths={[1920, 220, 650, 480, 1080, 768, 1536, 230, 240]} />                          				 
                </div>
                <div >
                    <div >
                        <h3 >Oferta Comes</h3>
<p><big>? Nasz zespół projektantów szybko i profesjonalnie wykona dla Państwa projekt placu zabaw, siłowni plenerowej, lub innego terenu rekreacyjnego z naszej oferty.</p>
<p>? Taki projekt może być następnie wykorzystany do zgłoszenia do urzędu, jako załącznik do planu inwestycyjnego czy jako element dokumentacji przetargowej.</p>
<p>? Nasze wieloletnie doświadczenie w branży placów zabaw jest gwarancją, że zaprojektowany przez nas plac będzie zgodny z obowiązującymi normami i ogólnymi przepisami dotyczącymi projektowania placów zabaw.</p>
<p>? Do każdego projektu podchodzimy indywidualnie i z zaangażowaniem. Bogaty wybór urządzeń COMES daje możliwość stworzenia atrakcyjnego, bezpiecznego i trwałego miejsca do zabawy i rekreacji.</big></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- obrazek z tekstem po lewej na home -->
        

        <!-- obrazek z tekstem po lewej na home -->
        <div  >
            <div >
                <div >
                                            <Image loading="lazy" decoding="async" width="1920" height="1280" alt="TODO: update alt text" sizes="(max-width: 1920px) 100vw, 1920px" src={assets_images_projekt_placu_zabaw_hq_1581_jpg} widths={[1920, 220, 650, 480, 1080, 768, 1536, 230, 240]} />                          				 
                </div>
                <div >
                    <div >
                        <h3><big>Konsultacje w terenie</big></h3>
<p><big>Istnieje możliwość umówienia się z naszym konsultantem w celu dokonania wizji lokalnej terenu przeznaczonego pod plac zabaw lub siłownię plenerową. <strong>Doradzimy jakie urządzenia wybrać, oraz jak najlepiej je ustawić, aby wykorzystać przestrzeń.</strong> Po konsultacji przedstawimy indywidualną ofertę.</big></p>

                    </div>
                </div>
            </div>
        </div>
        <!-- obrazek z tekstem po lewej na home -->
        

        <!-- obrazek z tekstem po lewej na home -->
        <div  >
            <div >
                <div >
                                            <Image loading="lazy" decoding="async" width="1620" height="1080" alt="place zabaw dla dzieci końskie" sizes="(max-width: 1620px) 100vw, 1620px" src={assets_images_projekt_placu_zabaw_place_zabaw_dla_dzieci_konskie_jpg} widths={[1620, 220, 650, 480, 1080, 768, 1536, 230, 240]} />                          				 
                </div>
                <div >
                    <div >
                        <h3 >W zależności od potrzeb, elementami projektu mogą być:</h3>

<ul>
<li ><big><big>Kosztorys inwestorski</big></big></li>
<li ><big><big>Dokumentacja przetargowa</big></big></li>
<li ><big><big>Wizualizacja placu zabaw</big></big></li>
<li ><big><big>Dokumentacja techniczna</big></big></li>
<li ><big><big>Wykonanie samego projektu</big></big></li>
</ul>


                    </div>
                </div>
            </div>
        </div>
        <!-- obrazek z tekstem po lewej na home -->
        

        <!-- obrazek z tekstem po lewej na home -->
        <div  >
            <div >
                <div >
                                            <Image loading="lazy" decoding="async" width="1490" height="994" alt="montaż placu zabaw szczecin" sizes="(max-width: 1490px) 100vw, 1490px" src={assets_images_projekt_placu_zabaw_montaz_placu_zabaw_szczecin_jpg} widths={[1490, 220, 650, 480, 1080, 768, 230, 240]} />                          				 
                </div>
                <div >
                    <div >
                        <h3 >Dodatkowe Informacje</h3>
<p><big>Prowadzimy cykl porad <em>Projekt Placu Zabaw</em>, w którym dzielimy się tam nasza wiedzą w zakresie placów zabaw z naciskiem na projektowanie przyszłego miejsca rekreacji. Do tej pory na łamach naszej strony zamieściliśmy wiele artykułów, między innymi następującewpisy wpisy:</big></p>
<ul>
<li><a href="http://silowniecomes.pl/projekt-placu-zabaw/planowanie-krajobrazu-i-roslinnosc/" target="_blank" rel="noopener noreferrer">Planowanie Krajobrazu i Roślinność</a></li>
<li><a href="http://silowniecomes.pl/projekt-placu-zabaw/wejscie-na-plac-zabaw/" target="_blank" rel="noopener noreferrer">Wejście na Plac Zabaw</a></li>
<li><a href="http://silowniecomes.pl/projekt-placu-zabaw/ogrodzenie-placu-zabaw/" target="_blank" rel="noopener noreferrer">Ogrodzenie Placu Zabaw</a></li>
<li><a href="https://silowniecomes.pl/nawierzchnie-bezpieczne/">Nawierzchnie na Place Zabaw</a></li>
<li><a href="http://silowniecomes.pl/projekt-placu-zabaw/jak-rozmieszczac-urzadzenia-na-plac-zabaw/" target="_blank" rel="noopener noreferrer">Jak Rozmieszczać Urządzenia na Place Zabaw</a></li>
</ul>
<p>http://silowniecomes.pl/projekt-placu-zabaw/nawierzchnie-na-place-zabaw/</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- obrazek z tekstem po lewej na home -->
        

        <!-- obrazek z tekstem po lewej na home -->
        <div  >
            <div >
                <div >
                                            <Image loading="lazy" decoding="async" width="1920" height="1110" alt="Zamkowy plac zabaw w Radoniu. Producent Comes." sizes="(max-width: 1920px) 100vw, 1920px" src={assets_images_projekt_placu_zabaw_img_3263_2_jpg} widths={[1920, 220, 650, 480, 1080, 768, 1771, 1536, 230, 240]} />                          				 
                </div>
                <div >
                    <div >
                        <h3>Więcej&#8230;</h3>
<p><big>Na naszej stronie znajdziecie Państwo materiały pomocne przy tworzeniu projektów takie jak: rzuty urządzeń w formatach DWG, rendery PNG, oraz karty techniczne PDF. Służymy również pomocą w zakresie konsultacji technicznych. Wykonanie projektu placu zabaw jest usługą płatną. Jednakże, jego koszt może okazać się niewspółmiernie niski w porównaniu do innych kosztów, gdy uzyskają Państwo dofinansowanie na budowę placu zabaw, bądź wygrają przetarg. </big></p>
<p><big>Zapraszamy do <a href="/kontakt">kontaktu z naszym Biurem Obsługi Klienta!</a></big></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- obrazek z tekstem po lewej na home -->
        
</MainLayout>