---
import MainLayout from "@layouts/MainLayout.astro"
import { Image } from "astro:assets"

import assets_images_wizualizacje_placu_zabaw_na_strone_4_jpg from "@assets/images/wizualizacje-placu-zabaw/na-strone-4.jpg";
import assets_images_wizualizacje_placu_zabaw_wizualizacja_jpg_2_jpg from "@assets/images/wizualizacje-placu-zabaw/wizualizacja-jpg-2.jpg";
import assets_images_wizualizacje_placu_zabaw_wizualizacja_jpg_1_jpg from "@assets/images/wizualizacje-placu-zabaw/wizualizacja-jpg-1.jpg";

const wpId = 3176
const title = "Wizualizacje placu zabaw"
const description = "TODO: Add description"
const status = "publish"
const type = "page"
const createdAt = new Date("2015-02-02T15:00:32")
const modifiedAt = new Date("2024-07-31T14:27:06")
const author = "comes_admin"
---

<MainLayout {title} {description}>
        <div id="wizualizacje-header"  >
            <div >
                <div >
                    <div >
                        <h3 ><strong>Wizualizacje projektów</strong></h3>
<p ><big>Zapewniamy kompleksowe wsparcie dla naszych klientów. Jedną z usług, które oferujemy są <strong>wizualizacje placów zabaw, siłowni plenerowych, i innych obiektów rekreacyjnych.</strong> Zachęcamy do zapoznania się z nasza ofertą.</big></p>

                    </div>
                </div>
            </div>
        </div>
        

        <!-- obrazek z tekstem po lewej na home -->
        <div  >
            <div >
                <div >
                                            <Image loading="lazy" decoding="async" width="1920" height="1430" alt="wizualizacja placu zabaw" sizes="(max-width: 1920px) 100vw, 1920px" src={assets_images_wizualizacje_placu_zabaw_na_strone_4_jpg} widths={[1920, 220, 650, 430, 967, 768, 1375, 1536, 230, 215]} />                          				 
                </div>
                <div >
                    <div >
                        <h3><strong>Jak będzie wyglądał nowy plac zabaw?</strong></h3>
<p><big>Na państwa życzenie wykonamy wizualizację 3D, która pozwoli lepiej wyobrazić sobie jak będzie wyglądał przyszły plac zabaw. <strong>Podczas tworzenia modelu kierujemy się wytycznymi projektu, oraz wymaganymi strefami bezpieczeństwa.</strong> Dbamy o to, aby wizualizacja była pomocna podczas podejmowania decyzji, dlatego najważniejsze wymiary są zachowane we właściwych proporcjach.</big></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- obrazek z tekstem po lewej na home -->
        

        <!-- obrazek z tekstem po lewej na home -->
        <div  >
            <div >
                <div >
                                            <Image loading="lazy" decoding="async" width="1920" height="1584" alt="TODO: update alt text" sizes="(max-width: 1920px) 100vw, 1920px" src={assets_images_wizualizacje_placu_zabaw_wizualizacja_jpg_2_jpg} widths={[1920, 220, 650, 388, 873, 768, 1241, 1536, 230, 194]} />                          				 
                </div>
                <div >
                    <div >
                        <h3 ><strong>Dokładna wizualizacja</strong></h3>
<p ><big>Wiemy, że jest wiele dobrych powodów, aby zobaczyć przyszły teren rekreacyjny na wizualizacji. Pomga to dzielić się pomysłem z innymi, szczególnie gdy ostateczną decyzję co do kształtu placu podejmuje więcej osób. Jeśli chcą państwo taką wizualizację proszę zaznaczyć to podczas kontaktu z naszym <a href="https://silowniecomes.pl/kontakt/">Biurem Obsługi Klienta</a>.</big></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- obrazek z tekstem po lewej na home -->
        

        <!-- obrazek z tekstem po lewej na home -->
        <div  >
            <div >
                <div >
                                            <Image loading="lazy" decoding="async" width="1920" height="1584" alt="TODO: update alt text" sizes="(max-width: 1920px) 100vw, 1920px" src={assets_images_wizualizacje_placu_zabaw_wizualizacja_jpg_1_jpg} widths={[1920, 220, 650, 388, 873, 768, 1241, 1536, 230, 194]} />                          				 
                </div>
                <div >
                    <div >
                        <h3 ><strong>Służymy pomocą</strong></h3>
<p ><big>Wykonujemy wizualizacje zarówno placów zabaw, siłowni plenerowych, terentów do street workoutu, oraz wybiegów dla psów. Na życzenie klienta dostarczamy także rzuty DWG naszych urządzeń oraz modele 3D. Zapraszamy do <a href="https://silowniecomes.pl/kontakt/">kontaktu</a> oraz na naszego <a href="https://www.facebook.com/pl.comes/">facebooka</a>!</big></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- obrazek z tekstem po lewej na home -->
        
</MainLayout>